<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambo</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="style.js"></script>
</head>
<header>
    <div class="div1">
        <a class="about"href="/about">ABOUT</a>
        <a class="museum"href="/museum">MESUEM</a>
        <a class="login"href="/login">LOGIN</a>
        <a class="home" href="/">HOME</a>
        <a class="contact"href="/contact">CONTACT</a>
        <a class="model"href="/model">MODEL</a>
    </div>
    <img src="/images/logo_header_01.svg" class="image1">
</header>
<main> 
